# Default values for common.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: bacanacr0132.azurecr.io/dkhp-backend:1d907a31-37
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext:
  allowPrivilegeEscalation: false
  runAsUser: 1000
  runAsGroup: 1000

dbSecret:
  keyvaultName: "mysql-credentials"
  keyvaultSecretKey: db-root-password
  userAssignedIdentityID: 3428d63a-18cd-4491-98d4-688abcfcae1c
  tenantId: "3a05eb6e-58c2-44f6-80f2-389d7854999b"

volumes: []
volumeMounts: []

env:
  - name: DB_HOST
    value: mysql.db.svc.cluster.local       
  - name: DB_PORT
    value: "3306"    
  - name: DB_DATABASE
    value: dkhpdb
  - name: DB_USER
    value: root
  - name: DB_PASS
    valueFrom:
      secretKeyRef:
        name: mysql-credentials
        key: db-root-password

pvc:
  enabled: false

job:
  enabled: true
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "1"
  imagePullSecrets: []
  image: "hungtran679/dkhp-flyway:latest"
  pullPolicy: IfNotPresent
  securityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL
  env:
    - name: DB_HOST
      value: mysql.db.svc.cluster.local              
    - name: DB_PORT
      value: "3306"    
    - name: DB_DATABASE
      value: dkhpdb
    - name: DB_USER
      value: root
    - name: DB_PASS
      valueFrom:
        secretKeyRef:
          name: mysql-credentials
          key: db-root-password
  resources:
    requests:
      cpu: "100m"
      memory: "256Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"
  volumes:
    - name: secrets-store-inline
      csi:
        driver: secrets-store.csi.k8s.io
        readOnly: true
        volumeAttributes:
          secretProviderClass: backend-db-secret
  volumeMounts:
    - name: secrets-store-inline
      mountPath: "/mnt/secrets-store"
      readOnly: true
  restartPolicy: OnFailure

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
  hosts:
    - paths:
        - path: /api(/|$)(.*)
          pathType: ImplementationSpecific
  tls: []

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

resources:
  requests:
    cpu: "100m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

nodeSelector: {}

tolerations: []

affinity: {}