body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header { 
  position: sticky; 
  top:0; 
} 
.TableWapper { 
  width:100%;
  max-height:500px; 
  overflow: auto; 
  margin-top: 5px;
} 
.main-page {
  margin: 1rem 2rem;
}
.ContentAlignment{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
}
.bi-check-circle{
  color: green;
}
.bi-x-circle{
  color: red;
}
.fixed-table {
  table-layout: fixed;
  }  
  .schedule-table table thead th {
            background-color: #86d4f5 ;
            color: #fff;
  }  
  .error {
    color: red;
    font-style: italic;
  }
  .OuterForm {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  .form-signin {
    height: 100%;
    max-width: 330px;
    padding: 1rem;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
