name: Backend_CD

permissions:
  contents: read
  security-events: write

on:
  workflow_dispatch:

env:
  IMAGE_NAME: dkhp-backend
  WORK_DIR: dkhp_backend
  AKS_NAMESPACE: app
  KUBESCAPE_THRESHOLD: 20

jobs:
  build_and_scan:
    runs-on: ubuntu-latest
    outputs:
      image_ref: ${{ steps.image.outputs.image_ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: kubescape/github-action@main
        continue-on-error: false
        with:
          files: k8s/application/backend
          frameworks: nsa,cis-aks-t1.2.0
          severityThreshold: "critical"
          failedThreshold: 20
          format: sarif
          outputFile: manifest-report.sarif

      - name: Upload Kubescape k8s manifest report to GitHub Security tab
        if: always()
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: manifest-report.sarif
          category: kubescape-manifest-report

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Build backend with Maven
        working-directory: ${{ env.WORK_DIR }}
        run: mvn clean package -DskipTests=true

      - name: Build Docker image
        id: image
        run: |
          image_ref="${IMAGE_NAME}:${GITHUB_SHA::8}-${GITHUB_RUN_NUMBER}"
          docker build -t "$image_ref" "./${WORK_DIR}"
          echo "image_ref=${image_ref}" >> $GITHUB_OUTPUT

      - name: Scan Docker image with Trivy
        uses: aquasecurity/trivy-action@0.21.0
        with:
          image-ref: ${{ steps.image.outputs.image_ref }}
          format: sarif
          output: trivy-report.sarif

      - name: Upload Trivy SARIF report to GitHub Security tab
        if: always()
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: trivy-report.sarif
          category: trivy-report

      - name: Login via Azure CLI
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Push docker image
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
          username: ${{ secrets.AZURE_USERNAME }}
          password: ${{ secrets.AZURE_PASSWORD }}
      - run: |
          docker tag ${{ steps.image.outputs.image_ref }} ${{ secrets.REGISTRY_LOGIN_SERVER }}/${{ steps.image.outputs.image_ref }}
          docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/${{ steps.image.outputs.image_ref }}

  deploy:
    runs-on: ubuntu-latest
    environment: Prod
    needs: build_and_scan
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Login via Azure CLI
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - name: Get AKS credentials
        run: az aks get-credentials --resource-group ${{ secrets.RESOURCE_GROUP }} --name ${{ secrets.AKS_CLUSTER }} --overwrite-existing

      - name: Setup Helm
        uses: azure/setup-helm@v3

      - name: Upgrade Helm chart
        run: |
          cd ./k8s/application
          sed -i 's|^\(\s*repository:\s*\).*|\1${{ secrets.REGISTRY_LOGIN_SERVER }}/${{ needs.build_and_scan.outputs.image_ref }}|' ./backend/values.yaml
          helm upgrade backend ./backend -n $AKS_NAMESPACE --install
